<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
<div th:fragment="content">
    <div class="page-header">
        <h3>Authors</h3>
    </div>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="author : ${authors}">
            <td><a th:href="@{/author/{id}/(id=${author.id})}" th:text="${author.name}"/></td>
            <td th:text="${author.description}"></td>
        </tr>
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2 col-md-offset-10">
            <a type="button" class="btn btn-primary" th:href="@{/author/add}">New Author</a>
        </div>
    </div>
</div>
</body>
</html>