<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      th:include="layout :: page">
<body>
    <div th:fragment="content">

        <div class="jumbotron">
            <h1>Welcome to the Quoter application!</h1>
            <p th:if="${quote}">Random quote for you: <span th:text="${quote.text}"></span></p>
            <p><a class="btn btn-primary btn-lg" href="/quote" role="button">More quotes!</a></p>
        </div>

    </div>
</body>
</html>