<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="page">
<head>
    <title>MVC Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css" />

    <link rel="stylesheet" th:href="@{/css/theme.css}" />

</head>
<body>
<nav class="navbar navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Quoter</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav">
                <li><a href="/theme/">Themes</a></li>
                <li><a href="/author/">Authors</a></li>
                <li><a href="/quote/">Quotes</a></li>
            </ul>
            <form sec:authorize="isAuthenticated()" class="navbar-form navbar-right" th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link">Logout</button>
            </form>
            <ul sec:authorize="isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/profile}" sec:authentication="name">Profile</a></li>
            </ul>
            <ul sec:authorize="!isAuthenticated()" class="nav navbar-nav navbar-right">
                <li><a th:href="@{/login}">Sign In</a></li>
                <li><a th:href="@{/registration}">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div th:include="this :: content"></div>
</div>

<div>
    <div>
        <button id="connect" onclick="connect();">Connect</button>
        <button id="disconnect" disabled="disabled" onclick="disconnect();">Disconnect</button>
    </div>
    <div id="conversationDiv">
        <label>What is your name?</label><input type="text" id="name" />
        <button id="sendName" onclick="sendName();">Send</button>
        <p id="response"></p>
    </div>
</div>

<script type="text/javascript"
        src="/webjars/jquery/3.2.1/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript"
        src="/webjars/sockjs-client/1.0.2/sockjs.min.js"></script>

<script type="text/javascript"
        src="/webjars/stomp-websocket/2.3.3/stomp.min.js"></script>

<script type="text/javascript">
    var stompClient = null;

    function setConnected(connected) {
        document.getElementById('connect').disabled = connected;
        document.getElementById('disconnect').disabled = !connected;
        document.getElementById('conversationDiv').style.visibility = connected ? 'visible' : 'hidden';
        document.getElementById('response').innerHTML = '';
    }

    function connect() {
        var socket = new SockJS('/hello1');
        stompClient = Stomp.over(socket);
        stompClient.connect({}, function(frame) {
            setConnected(true);
            console.log('Connected: ' + frame);
            stompClient.subscribe('/topic/greetings', function(greeting){
                showGreeting(JSON.parse(greeting.body).content);
            });
        });
    }

    function disconnect() {
        stompClient.disconnect();
        setConnected(false);
        console.log("Disconnected");
    }

    function sendName() {
        var name = document.getElementById('name').value;
        stompClient.send("/app/hello", {}, JSON.stringify({ 'name': name }));
    }

    function showGreeting(message) {
        var response = document.getElementById('response');
        var p = document.createElement('p');
        p.style.wordWrap = 'break-word';
        p.appendChild(document.createTextNode(message));
        response.appendChild(p);
    }
</script>

</body>
</html>